@page
@model IndexModel
@{
    ViewData["Title"] = "WC 2018 Notificator";
}

<div style="width: 100%; text-align: center; margin-top: 50px; font-family: sans-serif">
    <h1>Something will be here</h1>
</div>
